@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--dark: #374151;
	--darker: #1F2937;
	--lightblue: #4ED8DD;
	--gray: #a8a8a8;
	--oceanblue: #067F83;
	--light: #EEE;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}

/* .budget{
	background: var(--darker);
	display: flex;
	flex-direction: column;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	z-index: 999;
	text-align: center;
	padding: 2rem;
	border-radius: 1rem;
}

.budget > h2{
	margin-bottom: 2rem;
}

.budget #input-budget{
	flex: 1 1 0%;
	background-color: var(--dark);
	padding: .5rem 1rem;
	border-radius: 1rem;
	color: var(--light);
	font-size: 1rem;
} */

header {
	padding: 1rem;
	max-width: 800px;
	width: 100%;
	margin: 1rem auto 0;
}

header h1{ 
	font-size: 2.5rem;
	color: var(--lightblue);
	margin-bottom: 1rem;
}

#form-container {
	display: flex;
	justify-content: space-between;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

#input-task, #input-amount {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: .5rem 1rem;
	border-radius: 1rem;
	color: var(--light);
	font-size: 1rem;
}

#input-task::placeholder, #input-amount::placeholder {
	color: var(--gray);
}

#input-task, #input-amount, #add-button{
	margin-right: .5rem;
}

#add-button{
	background-color: var(--oceanblue);
	border-radius: .3rem;
	padding: .5rem 1rem;
	cursor: pointer;
	color: var(--light);
	text-align: center;
	font-weight: 600;
}

#add-button:hover {
	transform: scale(1.05);
	transition: .1s;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-container {
	padding: 1rem;
}

.task-container .headers{
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
}

.task-container h2 {
	font-size: 1rem;
	font-weight: 300;
	color: var(--lightblue);
	margin-bottom: 1rem;
}

#task-list .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
	display: flex;
	justify-content: space-between;
}

.task .content .task-wrapper .text,
.task .content .amount-wrapper .number{
	color: var(--light);
	font-size: 1rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only),
.task .content .number:not(:read-only){
	color: var(--lightblue);
}

.task .content .task-wrapper,
.task .content .amount-wrapper{
	display: flex;
	justify-content: space-between;
}

.task .content .task-wrapper .edit-task,
.task .content .amount-wrapper .edit-amount,
.task .content .task-wrapper .save,
.task .content .amount-wrapper .save {
	background-image: linear-gradient(to right, var(--oceanblue), var(--lightblue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	margin: 0 0.5rem;
	margin-right: 4rem;
	transition: 0.4s;
	font-size: 1.125rem;
}

.task .actions {
	display: flex;
	margin: 0 1rem;
}

.task .actions button:hover, 
.task .content .task-wrapper .edit-task:hover,
.task .content .amount-wrapper .edit-amount:hover{
	transform: scale(1.2);
}

.task .actions .delete {
	color: crimson;
	cursor: pointer;
	margin: 0 0.5rem;
	transition: 0.4s;
	font-size: 1.125rem;
}